asgiref==3.4.1
backports.entry-points-selectable==1.1.1
click==8.0.3
colorama==0.4.4
distlib==0.3.3
Django==3.2.9
django-cors-headers==3.10.0
django-simpleui==2021.11.5
filelock==3.4.0
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
platformdirs==2.4.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
virtualenv==20.10.0
Werkzeug==2.0.2
xlrd==2.0.1
